[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
nbval = "*"
pytest-xdist = "*"

[packages]
jupyterlab = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
statsmodels = "*"
nbconvert = "*"
graphviz = "*"
xgboost = "*"
auto-sklearn = "*"
jupyterlab-git = "*"
nbdime = "*"
tensorflow = "*"
umap-learn = "*"
numba = "*"
tensorflow-hub = "*"
scikit-image = "*"
pillow = "*"

[requires]
python_version = "3.8"
